body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto;
  }
  @font-face {
    font-family: 'zolidaisFonts';
    src: url('fonts/Visual Hollow Serif.otf');
  }
  @font-face {
    font-family: 'glaunaisFonts';
    src: url('fonts/Visual Hollow Script.otf');
  }
  p {
    margin: 0px;
  }
  div {
    font-family: Arial, Helvetica, sans-serif;
  }
  header {
    background: #333;
    color: #ebb800;
    padding: 1rem 0;
    text-align: center;
    font-family: zolidaisFonts;
    min-height: 50px;
  }
  .nav {
    box-sizing: border-box;
    display: flex;
    background-image: url(background/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 9px;
  }
  .nav a {
    color: #f5ecb7;
    font-family: zolidaisFonts;
    font-size: x-large;
    text-decoration: none;
    padding: 0.7rem 0.9rem 0.75rem 0.9rem;
  }
  .nav > a:hover {
    background-color:rgba(255, 255, 255, 0.1);
  }
  .navDivider {
    width: 2px;
    height: 40px;
    vertical-align: text-bottom;
    background-color: #f5ecb7;
  }
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
  }
  .mainTitle {
    display: block;
    color: #f5ecb7;
    font-family: zolidaisFonts;
    font-size: 22vh;
    text-align: center;
    margin-top: 13vh;
  }
  .subTitle {
    display: block;
    color: #f5ecb7;
    font-family: glaunaisFonts;
    font-size: 10vh;
    text-align: center;
  }
  .profile, .journey, .contact {
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 1.5rem;
    border-radius: 20px;
    color: black;
    margin-top: 5rem
  }
  .profile img {
    width: 300px;
    display: block;
    margin: 0 auto 1rem;
  }
  .journey ul {
    list-style: none;
    padding: 0;
  }
  .journey li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    margin-top: 2rem;
    height: 10px;
  }