body {
    font-family: parastsTeksts;
    margin: 0;
    padding: 0;
    background-image: url(background/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}
  @font-face {
    font-family: 'zolidaisFonts';
    src: url('fonts/Visual Hollow Serif.otf');
}
  @font-face {
    font-family: 'glaunaisFonts';
    src: url('fonts/Visual Hollow Script.otf');
}
  @font-face {
    font-family: 'parastsTeksts';
    src: url('fonts/Quicksand-Regular.ttf');
}
div {
    font-family: parastsTeksts;
    font-size: large;
}
.nav {
    box-sizing: border-box;
    display: flex;
    background-image: url(background/mxi-art-id0A-td1JBk-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 9px;
    z-index: 100;
}
.nav a {
    color: #f5ecb7;
    font-family: zolidaisFonts;
    font-size: x-large;
    text-decoration: none;
    padding: 0.7rem 0.9rem 0.75rem 0.9rem;
}
.nav > a:hover {
    background-color:rgba(255, 255, 255, 0.1);
}
.navDivider {
    width: 2px;
    height: 40px;
    vertical-align: text-bottom;
    background-color: #f5ecb7;
}
.container {
    margin: auto;
    overflow: hidden;
    padding: 2rem;
}
.mainTitle {
    display: block;
    color: #f5ecb7;
    font-family: zolidaisFonts;
    font-size: 18vh;
    text-align: center;
    margin-top: 0vh;
}
.subTitle {
    display: block;
    color: #f5ecb7;
    font-family: glaunaisFonts;
    font-size: 10vh;
    text-align: center;
    margin-top: -27vh;
}
.myJourney {
  color: #f5ecb7;
  margin-left: 10vh;
}
table {
  text-align: left;
}
.video td {  
  padding-bottom: 10px;
  padding-right: 40px;
}
.myJourney td {  
  padding-bottom: 10px;
  overflow: visible;
  vertical-align: top;
}
.videoContainer {
  margin: auto;
  width: 560px;
  height: 315px;
}
th {
  padding: 40px 0 15px;
  font-size: 25px;
}
img {
  border: #f5ecb7;
  border-width: 2.5px;
  border-style: solid;
}
.video {
  color: #f5ecb7;
  margin-left: 10vh;
  font-size: medium;
}
.video td {
  padding-bottom: 50px;
}
.smukaisVirsraksts{
  font-family: glaunaisFonts;
  font-size: 46px;
  margin-bottom: -10px;
  margin-top: -20px;
}
.photoTimeline{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}
.icon {
  border: 0;
  height: 30px;
  aspect-ratio: 1/1;
}
.myJourney a {
  color: #f5ecb7;
  margin-left: 10vh;
  margin-left: 0;
}
.myJourney img {
vertical-align: middle;
}
.videoTimeline {
  
}